.quote {
  font-size: 100px;
  text-align: center;
}

.text-clients-reviews {
  max-width: 800px;
  margin: auto;
  line-height: 45px;
}

.bloc-clients-reviews {
  background: $brown;
  padding: 50px 0 50px 0;
  margin: 70px 0;
}
