.bloc-offering-title {
  margin-top: 30px;
  p {
    max-width: 50%;
    margin-top: 30px;
    line-height: 30px;
  }
}

.bloc-offerin-content {
  margin-top: 30px;
}

.cards-content {
  margin-top: 30px;
}

.bloc-offering {
  margin-bottom: 50px;
}
