.btn-white {
  font-size: 18px;
  color: white;
  padding: 8px 25px;
  border: 1px solid white;
  border-radius: 1px;
  transition: 0.4s ease;
  &:hover {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    background: white;
  }
}

.btn-black {
  font-size: 18px;
  color: black;
  padding: 8px 25px;
  border: 1px solid black;
  border-radius: 1px;
  transition: 0.4s ease;
  display: inline-block;
  &:hover {
    color: white;
    text-decoration: none;
    background: black;
  }
}

.btn-collection {
  font-size: 18px;
  color: black;
  padding: 8px 25px;
  transition: 0.4s ease;
  &:hover {
    text-decoration: none;
    opacity: 0.7;
    color: black;
  }
}

.btn-section {
  margin: 75px 0;
}
